<div class="container mt-2">
  <div class="col-md-8 p-3 foo mx-auto rounded-lg text-white">
    <h3 class="text-center font-weight-bold">Edit Quotes</h3>
    <%= render 'form', timeline: @timeline %>
  </div>
</div>
